@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

:root {
    --primary-color: #4678ff;
}

body {
    background: #F2F2F2;
    margin: 1em;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: var(--primary-color);
        font-size: 1.2em;

        span {
            color: orange;
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #aa7f7f
}

ul {
    list-style-type: none;
}

section {
    padding-top: 1.2em;
}

.hero {
    text-align: center;
}

.left-col {

    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: 3.4rem;
    }

    h1 {
        font-size: 2em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    
    
    .primary-nav {
        li {
            display: grid;
            font-size: 1.3em;
            
            
        }

        a {
            text-decoration: none;
        }
        
        img {
            width: 5%;
            
        }

    }
    
    

}

nav.menu-btn {
    display: block;
}
nav {
    position: fixed;
    z-index: 999;
    width: 35%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            text-align: start;
            font-size: 1.3em;
            
            &:hover {
                color: orange;
                font-weight: bolder;
                
            }
        }
    }

}

.mobile-menu-exit {
    float: right; 
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar, .container {
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 50%;
        padding: 0;

        ul {
            display: flex;
            
        }
        
        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
            
        }
        
        li.current a {
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        text-align: center;
        
        .hero-cta {
            display: grid;
            text-align: center;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        }

        img {
            width: 2%;
        }
        
    }
}